micronaut:
  application:
    name: site-controller
#  server:
#    port: 8081
  executors:
    scheduled:
      type: scheduled
      core-pool-size: 1

  views:
#    enabled: false
    folder: templates
    freemarker:
      enabled: false

mail:
  smtp:
    host: server.v-home.co.uk
    localhost: server.v-home.co.uk
    port: 587
    auth:
      mechanisms: DIGEST-MD5
    starttls:
      enable: true
      required: true

datasources:
  default:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/caterhamladiesjoggers?timezone=UTC
    driverClassName: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dialect: POSTGRES
    schema: site_controller
  reigatejuniorjoggers:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/reigatejuniorjoggers?timezone=UTC
    driverClassName: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dialect: POSTGRES
    schema: site_controller

jpa:
  default:
    properties:
      hibernate:
        bytecode:
          provider: none
        hbm2ddl:
          auto: update
  reigatejuniorjoggers:
    properties:
      hibernate:
        bytecode:
          provider: none
        hbm2ddl:
          auto: update

jackson:
  serialization:
    WRITE_DATES_AS_TIMESTAMPS: false

flyway:
  datasources:
    default:
      schemas: site_controller
      locations: classpath:databasemigrations
    reigatejuniorjoggers:
      schemas: site_controller
      locations: classpath:databasemigrations