micronaut:
  application:
    name: site-controller
  executors:
    scheduled:
      type: scheduled
      core-pool-size: 1

datasources:
  default:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/caterhamladiesjoggers?timezone=UTC
    driverClassName: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dialect: POSTGRES
    schema: enquiry_handler
  reigatejuniorjoggers:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/reigatejuniorjoggers?timezone=UTC
    driverClassName: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    dialect: POSTGRES
    schema: enquiry_handler

jpa:
  default:
    properties:
      hibernate:
        bytecode:
          provider: none
        hbm2ddl:
          auto: update
  reigatejuniorjoggers:
    properties:
      hibernate:
        bytecode:
          provider: none
        hbm2ddl:
          auto: update

jackson:
  serialization:
    WRITE_DATES_AS_TIMESTAMPS: false