apiVersion: v1
kind: Service
metadata:
  name: site-controller-service
  labels:
    app: site-controller
spec:
  ports:
    - protocol: TCP
      port: 8080
  selector:
    app: site-controller
    deployment: blue
---
apiVersion: v1
kind: Service
metadata:
  name: site-controller-service
  labels:
    app: site-controller
  namespace: uat
spec:
  ports:
    - protocol: TCP
      port: 8080
  selector:
    app: site-controller
